.intro {
  margin: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.dark {
  background-color: rgb(87, 0, 87);
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  /* border: red solid 1px; */
}
.font-dark {
  color: #282c34;
}
.light {
  background-color: rgb(87, 0, 87);
  width: 100%;
}
.center {
  text-align: center;
}
.mobileMenuContainer {
  width: 100px;
  left:50%;
  margin-left: -50px;
  position: fixed;
  display:none;
  justify-content: center;
  z-index: 1
}
@media only screen and (max-width: 700px) {
  .mobileMenuContainer {
    display: flex;
  }
  .navigation {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .mobileMenu {
    display: flex;
  }
  .dark {
    height: 100%;
    /* border:solid red 1px; */
  }
  .light {
    height: 100%;
  }
}

.font-light {
  color: white;
}
.all-content {
  display: flex;
  margin: auto;
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-content: center;
}
.cards-container{
  margin:auto;
  max-width: 1260px;
}

.portrait {
  margin: auto 20px;
  width: 400px;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.navigation a {
  color: white;
  font-size: 30px;
  margin: 0 20px;
  font-family: Lucida Handwriting;
  color:#FF006D
}
@media only screen and (max-width: 700px) {
  .navigation {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .all-content {
    flex-direction: column-reverse;
    /* margin-top:20%; */
  }
  .portrait {
    width: 300px;
  }
  .navigation {
    margin-top: 30px;
  }
  .navigation a {
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
    
  }
}
.title {
  font-size: 50px;
  text-align: center;
  font-family: Lucida Handwriting;
  color:#FF006D;
  font-weight: bold;
  /* border-bottom:solid black 10px; */
}
/* contact container css code */
.map-contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  /* height: 600px; */
  padding-bottom: 100px;
}
.googlemap {
  width: 400px;
  height: 400px;
  padding: 30px;
}

.form-container {
  /* height: 500px; */
  justify-content: center;
  /* margin:auto */
  /* border: red solid 1px; */
  padding: 30px 0;
}
.form {
  padding: 30px;
  /* width: 45%; */
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .map-contact-container {
    flex-direction: column;
    padding: 0px;
  }
  .googlemap {
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: auto;
  }
  .form-container {
    padding: 100px 40px;
  }
}
