.Nav-container{
    display:flex;
    justify-content: space-between;
    /* width:1280px; */
    margin:auto;
    height: 70px;
    align-content: center;
}
.nav-link-home{
    text-decoration: none;
    color:white;
    font-size:30px;
    margin:10px 10px;
}
.nav-link{
    text-decoration: none;
    color:white;
    font-size:20px;
    margin:30px 10px;
}

.navMobileMenu{
display:none;
}
@media only screen and (max-width: 900px) {
    .navMobileMenu{
    display:inline-block
    }
    .nav-links-container {
      display:none
    }
  }